html, body {
    margin:0px;
    padding:0px;
    background-color:#4C6882;
}

.content {
    margin-left:auto;
    margin-right:auto;
    width:90%;
    background-color:white;
    border:solid 2px #314253;
    border-top:none;
}

#tree {
    float:left;
    padding:10px;
    width:35%;
    height: 650px;
    overflow-y:auto;
}

#tree2 {
    position:absolute;
    top:250px;
    left:6%;
}

#map3d {
    float:right;
    height: 665px;
    width: 65%;
}

h1 {
    background-color:#E6E6E6;
    font-size:1em;
    font-weight:normal;
    font-family:sans-serif;
    margin:0;
    padding:10px;
}

#nav {
    margin:0px;
    margin-top:7px;
    position:absolute;
    top:0px;
    right:5px;
    padding:5px;
    list-style:none;
}

#nav a, #nav a:visited {
    color:#DBE8EB;
}

#nav li {
    margin:0px;
    padding:0px;
    float:left;
}

a.src {
    float:right;
    padding:10px;
    top:10px;
    left:10px;
    padding-left:20px;
    background: transparent url(kml.png) no-repeat left center;
}

p {
    padding:10px;
}

ul.log {
    position:absolute;
    left:250px;
    top:0;
    margin:0;
    padding:0;
}

ul.log li {
    list-style:none;
    background-color:#EDDD83;
    margin:5px;
    padding:5px;
}

#codeSample {
    padding:0;
    margin:0;
    border:none;
}